[% INCLUDE header
   title = 'This is an HTML example'
%]

<h1>Some Interesting Links</h1>

[% webpages = [
      { url => 'http://foo.org', title => 'The Foo Organisation' }
      { url => 'http://bar.org', title => 'The Bar Organisation' }
   ]
%]

Links:
<ul>
[% FOREACH link = webpages %]
   <li><a href="[% link.url %]">[% link.title %]</a>
[% END %]
</ul>

[% INCLUDE footer %]